/* test */

.test-container {
	width: 200px;
	height: 200px;
}

/* end test */
#first_svg {
	border: 1px solid;
}

.box {
	height: 50px;
	width: 50px;
	border: 1px solid;
}

/* app level */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

body {
  background: #468966;
  background-repeat: no-repeat;
  margin: 0;
}

svg {
	stroke-width: .3px;
}

/* nav section */
.nav-sec.show {
	visibility: visible;
}
.nav-sec {
	visibility: hidden;
}

.nav-item {
	text-align: center;
	width: 25%;
	float: left;
	padding-top: 1%;
}

.nav-btn {
	text-decoration: none;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.nav-box {
  padding: 3%;
  font-size: 23px;
  display: inline-block;
  margin-bottom: 10px;
  border-bottom: 2px solid transparent;
  box-sizing: border-box;
}

.nav-box:hover {
	border-bottom: 2px solid #fff;
	box-sizing: border-box;
}

/* index page */

.about-svg-container, .work-svg-container, .contact-svg-container {
	margin: 0 auto;
	width: 50%;
}

.center-container {
	display: inline-table;
	height: 100%;
	width: 100%;
}

.header-container {
  clear: both;
  display: table-cell;
  vertical-align: middle;
}

.name-header {
	color: #fff;
	font-family: 'Droid Sans', sans-serif;
	font-size: 60px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0;
  letter-spacing: 3px;
}

.sub-header {
	color: #fff;
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-size: 32px;
  margin-top: 0;
  letter-spacing: 1px;
}

svg#hobbies-svg {
	stroke-width: 4px;
}

svg#contact-svg {
	stroke-width: 9px;
}













