/* test */

.test-container {
	width: 200px;
	height: 200px;
}

#first_svg {
	border: 1px solid;
}

.box {
	height: 50px;
	width: 50px;
	border: 1px solid;
}

/* end test */

/* app level */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

body {
  background: #468966;
  background-repeat: no-repeat;
  margin: 0;
}

svg {
	stroke-width: .3px;
}

/* top nav */

nav.top-bar {
	display: none;
}

nav.top-bar {
  background: #468966;
}

/* bottom nav section */
.nav-sec.show {
	visibility: visible;
}
.nav-sec {
	visibility: hidden;
}

.nav-item {
	text-align: center;
	width: 25%;
	float: left;
	padding-top: 1%;
}

.nav-btn {
	text-decoration: none;
	color: #fff !important; 
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.nav-btn:hover {
	color: #fff !important;
}

.nav-box {
  padding: 3%;
  font-size: 23px;
  display: inline-block;
  margin-bottom: 10px;
  border-bottom: 2px solid transparent;
  box-sizing: border-box;
}

.nav-box:hover {
	border-bottom: 2px solid #fff;
	box-sizing: border-box;
}

/* make nav sticky to bottom */

.main-container {
	height: 100%;
}

.content-wrapper {
	min-height: 100%;
}

.center-container {
	overflow: auto;
	padding-bottom: 200px;
}

footer.nav-sec {
	position: relative;
	margin-top: -200px;
	height: 200px;
	clear: both;
}

/* angular views global styles */

#content-views {  
	position: absolute;
  width: 100%;
  top: 9%;
  z-index: 9;
}

.ng-enter, .ng-leave {
	width: 100%;
	position: absolute;
}

.ng-enter {
	-webkit-animation: bounceInUp 1.1s both ease-out;
	-moz-animation: bounceInUp 1.1s both ease-out;
	animation: bounceInUp 1.1s both ease-out;
}

.ng-leave {
	-webkit-animation: slideOutDown 0.5s both ease-out;
	-moz-animation: slideOutDown 0.5s both ease-out;
	animation: slideOutDown 0.5s both ease-out;
}

/* index page */

.about-svg-container, .work-svg-container, .contact-svg-container {
	margin: 0 auto;
	width: 50%;
}

.center-container {
	display: inline-table;
	height: 100%;
	width: 100%;
}

.header-container {
	padding-top: 25%;
}

.name-header {
	color: #fff;
	font-family: 'Droid Sans', sans-serif;
	font-size: 60px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0;
  letter-spacing: 3px;
}

.sub-header {
	color: #fff;
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-size: 32px;
  margin-top: 0;
  letter-spacing: 1px;
}

/* svg styles */

svg#hobbies-svg {
	stroke-width: 4px;
}

svg#contact-svg {
	stroke-width: 9px;
}

/* about page */

.about-container {
	background: #fff;
	height: 100%;
	width: 100%;
	padding-top: 40px;
}

/** about sec **/
.bro-pic {
  background: url('../assets/headshot.jpg');
  background-size: cover;
  height: 400px;
  width: 400px;
  margin: 30px auto 0 auto;
  border-radius: 210px;
}

.intro-section {
	text-align: center;
	margin: 80px 0;
}

.about-title {
	color: #888;
	font-family: Arial, "Helvetica Neue",Helvetica,sans-serif;
	font-size: 18px;
	font-weight: 200;
	margin-bottom: 0;
}

.about-title:before, .about-title:after {
	content: '—';
  color: #ccc;
}

.about-name {
  color: #23a359;
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  font-size: 38px;
  margin: 0;
}

.about-tagline {
	color: #888;
	font-family: Georgia,"Lucida Sans",serif;
	font-style: italic;
	font-size: 24px;
	font-weight: 200;
	margin-top: 0;
}

.left-sec, .right-sec {
  width: 40%;
  padding: 0 5%;
  line-height: 2;
  font-family: Arial, "Helvetica Neue",Helvetica,sans-serif;
  font-size: 18px;
}

.about-text {
	margin-bottom: 80px;
}

/** tools sec **/

.tools-pic {
	background: url( '../assets/tools.jpg' ) no-repeat center center fixed;
	background-size: cover;
	height: 650px;
	width: 100%;
}

.bg-color {
	background-color: rgba(44, 62, 80, .6);
	height: 100%;
	padding-top: 1px;
}

.tools-header {
	font-family: Georgia,"Lucida Sans",serif;
	font-size: 30px;
	font-style: italic;
	font-weight: 200;
	color: #fff;
	text-align: center;
	margin: 4% 0;
}

.icon {
  text-align: center;
  color: #fff;
}

.icon h3 {
  color: #fff;
}


/* work page */

.work-container {
	background: pink;
	height: 900px;
}










