/* test */

/*.test-container {
	width: 200px;
	height: 200px;
}*/

#first_svg {
	border: 1px solid;
}

.box {
	height: 50px;
	width: 50px;
	border: 1px solid;
}

/* end test */

/* app level */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

body {
  background: #468966;
  background-repeat: no-repeat;
  margin: 0;
}

/* top nav */

nav.top-bar {
	display: none;
}

nav.top-bar {
  background: #468966;
}

/* bottom nav section */
.nav-sec.show {
	visibility: visible;
}
.nav-sec {
	visibility: hidden;
}

.nav-item {
	text-align: center;
	width: 25%;
	float: left;
	padding-top: 1%;
}

.nav-btn {
	text-decoration: none;
	color: #fff !important; 
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.nav-btn:hover {
	color: #fff !important;
}

.nav-box {
  padding: 3%;
  font-size: 23px;
  display: inline-block;
  margin-bottom: 10px;
  border-bottom: 2px solid transparent;
  box-sizing: border-box;
}

.nav-box:hover {
	border-bottom: 2px solid #fff;
	box-sizing: border-box;
}

.top-bar-section ul li, .top-bar-section ul li a {
  background: transparent !important;
}

/* make nav sticky to bottom */

.main-container {
	height: 100%;
}

.content-wrapper {
	min-height: 100%;
}

.center-container {
	overflow: auto;
	padding-bottom: 200px;
}

footer.nav-sec {
	position: relative;
	margin-top: -200px;
	height: 200px;
	clear: both;
}

/* angular views global styles */

#content-views {  
	position: absolute;
  width: 100%;
  top: 5%;
  z-index: 9;
}

.ng-enter, .ng-leave {
	width: 100%;
	position: absolute;
}

.ng-enter {
	-webkit-animation: bounceInUp 1.1s both ease-out;
	-moz-animation: bounceInUp 1.1s both ease-out;
	animation: bounceInUp 1.1s both ease-out;
}

.ng-leave {
	-webkit-animation: slideOutDown 0.5s both ease-out;
	-moz-animation: slideOutDown 0.5s both ease-out;
	animation: slideOutDown 0.5s both ease-out;
}

/* index page */

.about-svg-container, .work-svg-container, .contact-svg-container {
	margin: 0 auto;
	width: 50%;
}

.center-container {
	display: inline-table;
	height: 100%;
	width: 100%;
}

.header-container {
	padding-top: 20%;
}

.name-header {
	color: #fff;
	font-family: 'Droid Sans', sans-serif;
	font-size: 60px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0;
  letter-spacing: 3px;
}

.sub-header {
	color: #fff;
	font-family: 'Lato', sans-serif;
	text-align: center;
	font-size: 32px;
  margin-top: 0;
  letter-spacing: 1px;
}

/* svg styles */

svg#about-svg {
	stroke-width: .5px;
}

svg#work-svg {
	stroke-width: .5px;
}

svg#hobbies-svg {
	stroke-width: 9px;
}

svg#contact-svg {
	stroke-width: 9px;
}

.svg-wrapper {
	position: absolute;
}

svg#ga-svg {
	stroke-width: 55px;
}

svg#ga-tag-svg {
	stroke-width: 2px;
}

svg#ebooks-svg {
	stroke-width: 2px;
}

svg#airplane-svg {
	stroke-width: 4px;
}

svg#pool-svg {
	stroke-width: 3px;
}

svg#heartbeat-svg {
	stroke-width: 2px;
}

svg#d3-svg {
	stroke-width: 2px;
}

svg#parallax-svg {
	stroke-width: 2px;
}

/* about page */

.about-container {
	background: #fff;
	height: 100%;
	width: 100%;
	padding-top: 40px;
}

/** about sec **/
.bro-pic {
  background: url('../assets/headshot.jpg');
  background-size: cover;
  height: 400px;
  width: 400px;
  margin: 30px auto 0 auto;
  border-radius: 210px;
}

.intro-section {
	text-align: center;
	margin: 80px 0;
}

.about-title {
	color: #888;
	font-family: Arial, "Helvetica Neue",Helvetica,sans-serif;
	font-size: 18px;
	font-weight: 200;
	margin-bottom: 0;
}

.about-title:before, .about-title:after {
	content: '—';
  color: #ccc;
}

.about-name {
  color: #23a359;
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  font-size: 38px;
  margin: 0;
}

.about-tagline {
	color: #888;
	font-family: Georgia,"Lucida Sans",serif;
	font-style: italic;
	font-size: 24px;
	font-weight: 200;
	margin-top: 0;
}

.left-sec, .right-sec {
  width: 40%;
  padding: 0 5%;
  line-height: 2;
  font-family: Arial, "Helvetica Neue",Helvetica,sans-serif;
  font-size: 18px;
}

.about-text {
	margin-bottom: 80px;
}

.about-content p {
  line-height: 2;
}

/** tools sec **/

.tools-pic {
  background: url('../assets/tools.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 800px;
  width: 100%;
}

.bg-color {
	background-color: rgba(44, 62, 80, .6);
	height: 100%;
	padding-top: 1px;
}

.tools-sec {
  border: 2px solid #fff;
  margin: 30px auto;
  width: 60%;
  border-radius: 25px;
}

.tools-header {
	font-family: Georgia,"Lucida Sans",serif;
	font-size: 30px;
	font-style: italic;
	font-weight: 200;
	color: #fff;
	text-align: center;
	margin-top: 3%;
}

p.tool-text {
  text-align: center;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 200;
}

.icon {
  text-align: center;
  color: #fff;
}

.icon:hover {
  text-shadow: 0 0 4px rgba(192, 57, 43, 1.0);
}

.icon h3 {
  color: #fff;
}

.built-with {
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  font-size: 25px;
  font-weight: 800;
  padding: 20px;
}

.made {
	font-family: 'Droid ', serif;

}

.with {
	font-family: 'Droid ', serif;
	font-weight: 300;
}

.love {
	color: red;
	font-family: cursive;	
	font-style: italic;
	text-decoration: line-through;
}

.keyboard {
	font-family: 'Droid ', serif;

}

/* work page */

.work-container {
	background: #fff;
	padding: 2% 5%;
}

.work-header {
	text-align: center;
	color: #23a359;
}

.caption-style-4{
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		text-align: center;
		
	}
.caption-style-4 li{
	display: inline-block;
	padding: 0px;
	position: relative;
	overflow: hidden;
	margin: 1%;
}
.caption-style-4 li:hover .caption{
	opacity: 1;
}
.caption-style-4 li:hover img{
	opacity: 1;
	transform: scale(1.15,1.15);
	-webkit-transform:scale(1.15,1.15);
	-moz-transform:scale(1.15,1.15);
	-ms-transform:scale(1.15,1.15);
	-o-transform:scale(1.15,1.15);
}
.caption-style-4 img{
	margin: 0px;
	padding: 0px;
	display: inline-block;
	z-index: 4;
}
.caption-style-4 .caption{
	cursor: pointer;
	position: absolute;
	opacity: 0;
	top: 0;
	-webkit-transition:all 0.45s ease-in-out;
	-moz-transition:all 0.45s ease-in-out;
	-o-transition:all 0.45s ease-in-out;
	-ms-transition:all 0.45s ease-in-out;
	transition:all 0.45s ease-in-out;
}
.caption-style-4 img{
	-webkit-transition:all 0.25s ease-in-out;
	-moz-transition:all 0.25s ease-in-out;
	-o-transition:all 0.25s ease-in-out;
	-ms-transition:all 0.25s ease-in-out;
	transition:all 0.25s ease-in-out;
}
.caption-style-4 .ga-blur{
	background-color: rgba(255, 0, 0, .7);
	height: 300px;
	width: 400px;
	z-index: 5;
	position: absolute;
}

.caption-style-4 .ebook-blur{
	background-color: rgba(162, 125, 34, .7);
	height: 300px;
	width: 400px;
	z-index: 5;
	position: absolute;
}

.caption-style-4 .airplane-blur {
	background-color: rgba(52, 152, 219, .7);
	height: 300px;
	width: 400px;
	z-index: 5;
	position: absolute;
}

.caption-style-4 .pool-party-blur {
	background-color: rgba(26, 188, 156, .7);
	height: 300px;
	width: 400px;
	z-index: 5;
	position: absolute;
}

.caption-style-4 .heartbeat-blur {
	background-color: rgba(127, 140, 141, .7);
	height: 300px;
	width: 400px;
	z-index: 5;
	position: absolute;
}

.caption-style-4 .caption-text{
	z-index: 10;
	position: absolute;
	width: 400px;
	height: 300px;
	text-align: center;
}

/* experiment section */

.experiments {
	text-decoration: underline;
}

.caption-style-4 .d3-blur {
	background-color: rgba(142, 68, 173, .7);
	height: 300px;
	width: 400px;
	z-index: 5;
	position: absolute;
}

.caption-style-4 .parallax-blur {
	background-color: rgba(211, 84, 0, .7);
	height: 300px;
	width: 400px;
	z-index: 5;
	position: absolute;
}

/* work page general assembly */

.ga-container {
	background: #fff;
	padding: 2% 5%;
}

.ga-header {
	text-align: center;
	width: 65%;
	margin: 0 auto;
}

.ga-header img {
	margin-bottom: 5%;
}

.ga-tagline {
	font-family: Georgia,"Lucida Sans",serif;
  font-style: italic;
  color: #555;
}

p.header-desc {
	font-family: 'Lato', sans-serif;
	color: #555;
	font-size: 18px;
	margin-bottom: 3%;
}

.ga-links {
	color: rgb(255, 0, 0);
}

hr {
	margin: 1% 0;
}

ul.skills-section {
  padding: 5%;
}

ul.skills-section li {
  display: inline-block;
  width: 30%;
  margin: 1%;
  color: rgb(255, 0, 0);
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

p.img-tagline {
  font-style: italic;
  font-size: 18px;
  color: #555;
  margin-top: 4%;
}

.img-container {
  width: 65%;
  margin: 3% auto 2% auto;
  text-align: center;
}

.img-container img {
	-webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.75);
  border-radius: 10px;
}

















