<div class="about-container">
	
	<div class="bro-pic"></div>
	
	<div class="intro-section">
		<h3 class="about-title">FRONT-END WEB DEVELOPER</h3>
		<h1 class="about-name">WINSON LEI YUAN</h1>
		<h2 class="about-tagline">Building awesomeness in Silicon Alley</h2>
	</div>

	<div class="about-text cf row">
		<div class="small-6 medium-6 large-6 columns about-content"><p>Ever since I was a kid, I have been curiously taking things apart and attempting to put them back together. Most of the time they would never be what they once were or just left as a pile of rubble. This curiosity carried with me as I grew up. As I went from taking apart action figures and alarm clocks to PC's and car engines, I am more meticulous about putting things back together now. This drive to learn more inevitably lead me to programming, where breaking things was okay and even encouraged at times.</p></div>
		<div class="small-6 medium-6 large-6 columns about-content"><p>I am a front-end developer with an insatiable hunger to learn about web development. Naturally while working on the front-end, I became very intrigued with back-end functionality and data storage. I have built a few web apps with various full-stack and worked with different databases to enchance the front-end experience. While immersed in the development culture, I find that there is never a dull moment and you are always learning. This is the reason why I love what I do, this is is why I became a developer.</p></div>
	</div>

	<div class="tools-pic">
		<div class="bg-color">
			<p class="tools-header">The Tool Box</p>
			<p class="tool-text">
				While there are many tools that can be used to accomplish the same results, you wouldn't use a hammer to put in a screw...
			</p>
			<p class="tool-text">
				Projects vary from case to case and so will the tools, below are some that I use most frequently.
			</p>
			<div class="row" id="skills">
        <div class="small-4 medium-2 columns icon">
          <i class="icon-ruby" style="font-size:4em"></i>
          <h3>Ruby</h3>
        </div>
        <div class="small-4 medium-2 columns icon">
          <i class="icon-ruby-on-rails-alt" style="font-size:4em"></i>
          <h3>Rails</h3>
        </div>
        <div class="small-4 medium-2 columns icon">
          <i class="fa fa-html5 fa-4x"></i>
          <h3>HTML5</h3>
        </div>
        <div class="small-4 medium-2 columns icon">
          <i class="fa fa-css3 fa-4x"></i>
          <h3>CSS3</h3>
        </div>
        <div class="small-4 medium-2 columns icon">
          <i class="icon-javascript" style="font-size:4em"></i>
          <h3>JavaScript</h3>
        </div>
        <div class="small-4 medium-2 columns icon">
          <i class="icon-raspberrypi" style="font-size:4em"></i>
          <h3>Raspberry Pi</h3>
        </div>
      </div>
      <div class="row">
        <div class="small-4 medium-2 columns icon">
          <i class="icon-postgres" style="font-size:5em"></i>
          <h3>Postgres</h3>
        </div>
        <div class="small-4 medium-2 columns icon">
          <i class="icon-heroku" style="font-size:5em"></i>
          <h3>Heroku</h3>
        </div>
        <div class="small-4 medium-2 columns icon">
          <i class="icon-aws" style="font-size:5em"></i>
          <h3>AWS</h3>
        </div>
        <div class="small-4 medium-2 columns icon">
          <i class="fa fa-windows fa-5x"></i>
          <h3>Windows</h3>
        </div>
        <div class="small-4 medium-2 columns icon">
          <i class="icon-osx" style="font-size:5em"></i>
          <h3>OS-X</h3>
        </div>
        <div class="small-4 medium-2 columns icon">
          <i class="fa fa-linux fa-5x"></i>
          <h3>Linux</h3>
        </div>
      </div>
		</div>
	</div>

</div>