<div class="byeny-container trigger">
	<div class="byeny-header">
		<h2 class="byeny-tagline">ByeNY</h2>
		<p class="header-desc"><span class="byeny-links">ByeNY</span> was a projected built during my studies at General Assembly's Web Development Immersive program. This project utilizes data from flightstats.com developers API and displays the data using D3.js. The data taken are all out bound flights during a 24 hour period starting at 12 midnight the night before. Data must be from the previous day because current day is not available. The colors denote which continent flights are departing to. Please note, this graphs flight paths in a linear fashion to their destination. In reality howeer, flight paths rarely follow a linear path. Check it out <a href="https://byeny.herokuapp.com/" target="_blank" class="byeny-links">here</a>.</p>
		<hr>
		<ul class="skills-section byeny-skills">
			<li>HTML</li>
			<li>CSS</li>
			<li>D3js</li>
			<li>Ruby on Rails</li>
			<li>PostgreSQL</li>
			<li>Heroku</li>
		</ul>
		<hr>
	</div>
	<div class="img-container">
		<p class="img-tagline">ByeNY clip to show flights data leaving in a 24 hour timeframe</p>
		<div class="byeny-vid">
			<video width="100%" max-height="675px" height="675px" autoplay loop>
				<source src="../../assets/work-byeny/byeny.mp4" type="video/mp4">		
				<source src="../../assets/work-byeny/byeny.0gg" type="video/ogg">
			</video>
		</div>
	</div>
</div>