<div class="davids-container">
	<div class="davids-header">
		<img src="../../assets/work-davids/davids-logo.jpg">
		<h2 class="davids-tagline">David's Bridal</h2>
		<p class="header-desc">Worked on <span class="davids-links">David's Bridal</span> #getglam sweepstake campaign for their prom promotion special while working for Offerpop. PSD mock up was delivered by client with specification and requirements. Once users have signed up, they would automatically be entered for a chance to win. This campaign has social shareability, data capture and discount codes. I was tasked to turn the PSD into a working application which lived on the client's Facebook page. Campaigns life cycle will only last for the duration of the sweepstake which in this case a few months.</p>
		<hr>
		<ul class="skills-section davids-skills">
			<li>PSD Mock Up</li>
			<li>UX/UI Design</li>
			<li>CSS3</li>
			<li>jQuery</li>
			<li>Data Capture</li>
			<li>Social Share API</li>
			<li>Custom Form Validation</li>
		</ul>
		<hr>
	</div>
	<div class="img-container">
		<p class="img-tagline">David's Bridal Sign up Home Page</p>
		<img src="../../assets/work-davids/davids1.jpg">
		<p class="img-tagline">Links to associated promotional sites</p>
		<img src="../../assets/work-davids/davids2.jpg">
		<p class="img-tagline">After sign up page with customized share text and links</p>
		<img src="../../assets/work-davids/davids3.jpg">
	</div>
</div>