<div class="ebooks-container trigger">
	<div class="ebooks-header">
		<h2 class="ebooks-tagline">Fre-ebooks</h2>
		<p class="header-desc">Fre-ebooks is a side project I created for the students in my Front End Web Development class. It aggregrates all the data on free programming ebooks from Github and displays them in the library section of the site. In this project, I played with some new technologies such as Angular, Express and Nodejs. Originally the project started out as using the Github API however all the data was stored in a readme.md file. This would not parse well when using Github's API so I used a tool called Marked NPM which turns all markup language into formatted HTML. From there, it would display nicely on the page. Feel free to check it out <a target="_blank" href="https://fre-ebooks.herokuapp.com/" class="ebooks-links">here</a>.</p>
		<hr>
		<ul class="skills-section ebooks-skills">
			<li>HTML5</li>
			<li>CSS3</li>
			<li>AngularJS</li>
			<li>Express</li>
			<li>NodeJS</li>
			<li>Single Page App</li>
			<li>Heroku</li>
		</ul>
		<hr>
	</div>
	<div class="img-container">
		<p class="img-tagline">Fre-ebooks Homepage</p>
		<div class="ebooks1-img img-box"></div>
		<p class="img-tagline">Fre-ebooks Library Page</p>
		<div class="ebooks2-img img-box"></div>
		<p class="img-tagline">Contact Me Page</p>
		<div class="ebooks3-img img-box"></div>
	</div>
</div>