<div class="ga-container trigger">
	<div class="ga-header">
		<img src="../../assets/work-ga/ga-header-logo.png">
		<h2 class="ga-tagline">Front-End Web Development</h2>
		<p class="header-desc">General Assembly (GA) is an unconventional, bootcamp style, learning insitution. Their goal is to turn people into designers, developers, project manangers and so much more in a fraction of the time it would traditionally take. I work at GA as an Expert in Residence/co-instructor for the Front-End Web Development (FEWD) program. FEWD is a 10 weeks long, part-time program which aims to teach students web development fundamentals. Learn more about <a class="ga-links" href="https://generalassemb.ly/education/front-end-web-development" target="_blank">FEWD</a> and check out our <a class="ga-links" target="_blank" href="http://fewd.us/">resources</a> site for the students.</p>
		<hr>
		<ul class="skills-section ga-skills">
			<li>HTML5</li>
			<li>CSS3</li>
			<li>JavaScript</li>
			<li>jQuery</li>
			<li>FTP</li>
			<li>API</li>
			<li>Responsive Web Design</li>
			<li>Code Refactor</li>
			<li>File Structure</li>
		</ul>
		<hr>
	</div>
	<div class="img-container">
		<p class="img-tagline">FEWD Class 43 Final Project Demo Day</p>
		<img src="../../assets/work-ga/fewd43.jpg">
		<p class="img-tagline">The Grind - Students working on labs during class</p>
		<img src="../../assets/work-ga/lab1.jpg">
		<p class="img-tagline">Students are encouraged to solve problems on their own before seeking for help from the instructional team.</p>
		<img src="../../assets/work-ga/lab2.jpg">
	</div>
</div>