<div class="heartbeat-container">
	<div class="heartbeat-header">
		<img src="../../assets/work-heartbeat/heartbeat-logo.png">
		<h2 class="heartbeat-tagline">Heartbeat Ink</h2>
		<p class="header-desc"><span class="heartbeat-links">Heartbeat Ink</span> is a web application built for a good friend and tattoo artist, Andres Moran. He is an extremely talented artist and people come from all over the country just to have work done by him. Recently, he opened up his own shop in Bound Brook, NJ close to his hometown. This first version web app was built with Ruby on Rails and is currently going under some reconstruction and redesign to scale with his business. Users will have ability to login, see his work, view availabilities and sign up for appointment on their phones or computers.</p>
		<hr>
		<ul class="skills-section heartbeat-skills">
			<li>HTML5</li>
			<li>CSS3</li>
			<li>JavaScript</li>
			<li>Ruby on Rails</li>
			<li>PostgreSQL</li>
			<li>nginx</li>
		</ul>
		<hr>
	</div>
	<div class="img-container">
		<p class="img-tagline">Heartbeat Gallery Page</p>
		<div class="heartbeat1-img img-box"></div>
	</div>
</div>