<div class="hobbies-container trigger">
	<div class="cycling-pic"></div>
	<div class="intro-section">
		<h3 class="hobbies-title">THE CYCLIST</h3>
		<p class="hobbies-tagline">Adventures on Two Wheels</p>
	</div>
	<div class="hobbies-desc row">
		<div class="small-6 medium-6 large-6 columns about content">
			<p>When I hop on my bike and strap in for a ride, a reaction happens in my brain that can only be described as pure joy. My senses are sharp, eyes are scanning, muscles are warmed and ready for the road ahead. Cycling is my way to connect with the world. I am able to see the world in a completely different perspective than walking or driving. I am able to get to places I never would have known about, cross amazing bridges, and be immersed in a community of riders who share my core values.</p>
		</div>
		<div class="small-6 medium-6 large-6 columns about content">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
	<div class="row hobbies-img">
		<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
			
		</ul>
	</div>
</div>