<div class="pool-container">
	<div class="pool-header">
		<h2 class="pool-tagline">Its a Pool Party!</h2>
		<p class="header-desc">Pool Party is an MVP application built for a client. This web app helps people carpool to save money, time and better the environment to New York City. Often time people take the Holland Tunnel as single riders which is a steep +$13 USD. When carpooling with 3 or more people, the rate drops by close to 40%. This allows people to connect, view profiles, and set a pick-up location. We understand that hitching a ride from a stranger is scary and rightly so. This is why we require users to login with their credentials and only then can you see who is offering rides. Notification will then be sent to both parties. Check it out <a href="http://pool-party.herokuapp.com/" class="pool-links" target="_blank">here</a>.</p>
		<hr>
		<ul class="skills-section pool-skills">
			<li>HTML5</li>
			<li>CSS3</li>
			<li>Ruby on Rails</li>
			<li>HTML5Video</li>
			<li>PostgreSQL</li>
			<li>Heroku</li>
			<li>Twillio API</li>
		</ul>
		<hr>
	</div>
	<div class="img-container">
		<p class="img-tagline">Pool Party Login Page</p>
		<div class="pool1-img img-box"></div>
		<p class="img-tagline">About Pool Party</p>
		<div class="pool2-img img-box"></div>
		<p class="img-tagline">New User Sign Up</p>
		<div class="pool3-img img-box"></div>
	</div>
</div>